body{
    margin: 0;
    font-family: Verdana,'Open Sans',sans-serif;
}

/*Common Elements*/
button{
    background-color: #3b8dbc;
    color: #ffffff;
    padding: 7px 12px;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.script-container{
    display: flex;
}

.script-container >  .script-list-section{
    width: 300px;
    background-color: #393e50;
    height: 100vh;
}

    .script-list-section .brand-header{
        padding: 15px;
        color: #ffffff;
        display: flex;
        align-items: center;
        background-color: #292c3a;
    }

        .script-list-section .brand-header > h1{
            margin: 0;
            font-size: 1em;
            margin-left: 10px;
            font-weight: normal;
        }

        .script-list-section .brand-header .fa-user-circle{
            margin-left: auto;
        }

    .script-list-section .search-container{
        padding: 15px 0 15px 15px;
        display: flex;
    }

        .script-list-section .search-container .search-box{
            display: flex;
            align-items: center;
            background-color: #939caf;
            padding: 5px;
            border-radius: 3px;
            width: 85%;
        }

            .script-list-section .search-container .search-box .icon{
                color: #fff;
            }

            .script-list-section .search-container .search-box input{
                background-color: transparent;
                border: none;
                width: 100%;
                padding: 5px;
                color: #fff;
                font-size: 0.8rem;
            }

            .script-list-section .search-container .search-box input:focus{
                outline: 0;
            }

        .script-list-section .search-container .filter{
            color: #fff;
            padding: 0 15px;
            display: flex;
            align-items: center;
            position: relative;
        }

        .script-list-section .search-container .filter .icon{
            cursor: pointer;
            position: relative;
        }

        .script-list-section .search-container .filter .icon span{
            position: absolute;
            top: -10px;
            right: -7px;
            background-color: #dd4a39;
            padding: 2px;
            border-radius: 3px;
            font-family: Verdana;
            font-weight: 100;
            font-size: 0.7rem;
        }

        .script-list-section .search-container .filter.active{
            background-color: #5a657d;
        }

        .script-list-section .search-container .filter.active .filter-container{
            display: block;
        }
        
        .script-list-section .search-container .filter .filter-container{
            display: none;
            position: absolute;
            background-color: #e6ebee;
            border: 3px solid #5a657d;
            border-radius: 2px;
            width: 250px;
            padding: 0 15px;
            top: 35px;
            left: -3px;
            color: #000;
            z-index: 1;
        }

        .script-list-section .search-container .filter .filter-container .filter-items{
            background-color: #ffffff;
        }

        .script-list-section .search-container .filter .filter-container .filter-items ul{
            padding: 5px 10px;
            margin-bottom: 0;
            list-style: none;
            border-bottom: 1px solid #ccc;
        }

        .script-list-section .search-container .filter .filter-container .filter-items p{
            margin: 0;
            padding: 10px;
        }

        .script-list-section .search-container .filter .filter-container .filter-items li{
            display: flex;
            margin: 5px 0;
        }

        .script-list-section .search-container .filter .filter-container .filter-items li span{
            font-size: 0.9em;
            margin-left: 5px;
        }

        .script-list-section .search-container .filter .filter-container .filter-apply button{
            width: 100%;
            justify-content: center;
        }

        .script-list-section .search-container .filter .filter-container .filter-reset{
            text-align: center;
            font-size: 0.8rem;
        }

        .script-list-section .search-container .filter .filter-container a{
            color: #1897b7;
            text-decoration: none;
        }


    .script-list-section .scripts-list{
        max-height: calc(100vh - 111px);
        overflow: auto;
    }

        .script-list-section .scripts-list ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .script-list-section .scripts-list li{
            padding: 8px 15px;
            color: #ffffff;
            position: relative;
            cursor: pointer;
        }

            .script-list-section .scripts-list li > a{
                text-decoration: none;
                color: #fff;
                font-size: 0.9rem;
                margin: 0;
            }

        .script-list-section .scripts-list li .icon.fav{
            position: absolute;
            right: 15px;
            top: calc(50% - 6px);
            font-size: 0.8rem;
            color: #c57200;
        }

        .script-list-section .scripts-list li.active{
            background-color: #4d6670;
        }

        .script-list-section .scripts-list li.active > .labels label{
            background-color: #29394e;
        }

/*Labels*/
.labels{
        margin: 0 -3px;
    }

    .labels > label{
        color: #ffffff !important;
        font-size: 0.7rem;
        font-weight: lighter !important;
        margin: 0 3px;
        background-color: #52749d;
        padding: 0px 3px;
        border-radius: 3px;
    }


.script-container > .script-details-section{
    width: calc(100% - 300px);
    background-color: #e3e7e9;
    padding: 15px;
    display: flex;
    overflow: auto;
    max-height: calc(100vh - 30px);
}

.script-details-section .icon{
    font-size: 1.5em;
}

.script-details-section .script-details{
    width: 75%;
    padding: 0 15px;
    position: relative;
}

    .script-details-section .script-details h1{
        margin: 0;
        font-size: 1.4rem;
        font-weight: normal;
        color: #304054;
    }

    .script-details-section .script-details .metadata-details{
        margin: 15px 0; 
    }

    .script-details-section .script-details .favourite-script{
        position: absolute;
        top: 0;
        right: 10px;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        cursor: pointer;
    }

    .script-details-section .script-details .favourite-script .icon{
        color: #ffffff;
        font-size: 1rem;
        margin-right: 5px;
    }

    .script-details-section .script-details .favourite-script .icon.fav{
        color: #c57200;
    }

    .script-details-section .script-details p{
        font-size: 0.9rem;
        font-weight: lighter;
        margin: 5px 0;
        color: #555;
    }

    .script-details-section .script-details label{
        font-weight: bold;
        color: #404040;
    }

    .script-details-section .script-details .usage{
        margin: 15px 0 30px 0;
        display: flex;
        align-items: center;
    }
        .script-details-section .script-details .usage p{
            font-weight: lighter;
            margin: 0 0 0 10px;
        }

    .script-details-section .script-details .invocation{
        margin: 30px 0;
        color: #404040;
    }
        .script-details-section .script-details .invocation ul{
            font-weight: lighter;
            font-size: 0.9rem;
            padding-left: 20px;
        }

    .script-details-section .script-details .description{
        margin: 30px 0;
    }
        .script-details-section .script-details .description p{
            margin-bottom: 10px;
        }

    .script-details-section .script-details .commands label{
        margin-bottom: 10px;
        display: block; 
    }

    .script-details-section .script-details .commands table{
        background-color: #ffffff;
        margin-bottom: 10px;

    }
    .script-details-section .script-details .commands table td{
        border: 1px solid #ccc;
        padding: 5px;
        font-weight: lighter;
        font-size: 0.7rem;
    }
    .script-details-section .script-details .commands table td:first-of-type{
        white-space: nowrap;
    }

.script-actions{
    position: sticky;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}

.script-actions button{
    width: 150px;
    text-align: left;
}
.script-actions .icon{
    margin-right: 8px;
    font-size: 0.8rem; 
    width: 10px;
}

.script-actions ul{    
    margin-top: 30px; 
    padding: 0 5px;
    list-style: none;
    font-size: 0.8rem;
}
.script-actions ul li{    
    margin: 5px 0;
}

.script-actions ul a{
    color: #229ab9;
    text-decoration: none;
}